In [1]:
import pandas as pd
import json
import re

In [71]:
with open("data/all_nmpa_drug.txt", "r", encoding="utf-8") as f:
    content = f.read().replace("\n", "   ").replace("\t", "   ")

In [72]:
drug_list = json.loads(content)

In [116]:
name_list = []
code_list = []
license_list = []
company_list = []

p1 = re.compile(r'[(](.*?)[)]', re.S)
for x in [x["CONTENT"] for x in drug_list]:
    aa = x.split("国药")
    code = aa[0].strip().split(" ")[-1].replace("(", "").strip()
    name = re.sub(p1, "", aa[0].replace(code, "")).replace("(", "").replace(")", "").strip()
    aa = "国药" + aa[1]
    aa = list(filter(lambda x: x != "", aa.split(" ")))
    license = aa[0].strip()
    company = " ".join(aa[1:]).replace("(", "").replace(")", "").strip()
    name_list.append(name)
    code_list.append(code)
    license_list.append(license)
    company_list.append(company)
    
    # x = x.replace("(上市许可持有人)", "").replace("(受托生产企业)", "").replace("(唐山)", "")
#     info = re.findall(p1, x)[-1]
#     name = x.replace(info, "").replace("(", "").replace(")", "").strip()
    
#     ss = list(filter(lambda x: x!= "", info.split(" ")))
    
#     if len(ss) == 3:
#         name = name
#         code = ss[0]
#         license = ss[1]
#         company = ss[2]
#     elif len(ss) == 2:
#         license = ss[0]
#         company = ss[1]
#     else:
#         company = x.split("   ")[-1]

In [131]:
# df_nmpa = pd.DataFrame({
#     "name": name_list,
#     "code": code_list,
#     "license": license_list,
#     "company": company_list
# })# .to_csv("processed/all_nmpa_info.csv", index=False)

df_nmpa = pd.read_csv("processed/all_nmpa_info.csv", dtype=str).fillna("")

In [133]:
license_dict = {}
code_dict = {}
for index, row in df_nmpa.iterrows():
    for co in row['code'].split("；"):
        if co.strip()!= "":
            code_dict[co.strip()] = "{}||{}".format(row["name"], row["company"])
    if row["license"] != "" and "国药" in row["license"]:
        license_dict[row["license"]] = "{}||{}".format(row["name"], row["company"])

In [134]:
len(license_dict)

150161

In [135]:
len(code_dict)

155923

In [136]:
pd.DataFrame({
    "drug_id": list(license_dict.keys()) + list(code_dict.keys()),
    "drug_name": list(license_dict.values()) + list(code_dict.values()),
}).to_csv("processed/nmpa_key_value.csv", index=False)

In [137]:
df_nmpa = pd.read_csv("processed/nmpa_key_value.csv", dtype=str, encoding="utf-8")

In [4]:
import pymysql
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="demo", 
                       passwd="demo",  
                       db="local_bge_open",
                       charset='utf8')
conn.cursor().execute("select * from ums_user;")

# onn = create_engine('mysql+pymysql://root:123456@localhost:3306/local_bge_open?charset=utf8').raw_connection()

1

In [143]:
insert_str = "INSERT INTO graph_drug (drug_id, drug_name, company) VALUES "
for index, row in df_nmpa.iterrows():
    drug_id = row["drug_id"]
    drug_name = row["drug_name"].replace("噁", "恶").replace("𫫇", "恶")
    drug_name, company = drug_name.split("||")
    insert_str += "('{}', '{}', '{}'), ".format(drug_id, drug_name, company)
    if index != 0 and index % 20 == 0:
        try:
            insert_str = insert_str.strip(", ").replace("噁", "恶").replace("𫫇", "恶") + ";"
            conn.cursor().execute(insert_str)
            conn.commit()
            insert_str = "INSERT INTO graph_drug (drug_id, drug_name, company) VALUES "
        except:
            print(insert_str)
            insert_str = "INSERT INTO graph_drug (drug_id, drug_name, company) VALUES "
        
insert_str = insert_str.strip(", ").replace("噁", "恶").replace("𫫇", "恶") + ";"
conn.cursor().execute(insert_str)
conn.commit()

In [142]:
'复方磺胺甲𫫇唑片'.replace("𫫇", "恶")

'复方磺胺甲恶唑片'

In [109]:
df_chem = pd.read_csv("d:/pgkb_graph/chemicals/chemicals.tsv", sep='\t', dtype=str).fillna("")[["PharmGKB Accession Id", "Name"]]
df_chem[["chemical_id", "chemical_name"]] = df_chem[["PharmGKB Accession Id", "Name"]]

In [111]:
df_chem = df_chem[["chemical_id", "chemical_name"]]
df_chem["chemical_id"] = df_chem["chemical_id"].str.strip()
df_chem["chemical_name"] = df_chem["chemical_name"].str.lower().str.strip()

In [114]:
df_trans = pd.read_csv("d:/bge-open-platform/var/static/chemical_translation.csv", dtype=str).fillna("")
df_trans["chemical_name"] = df_trans["chemical_name"].str.lower().str.strip()
df_trans["cn_chemical_name"] = df_trans["cn_chemical_name"].str.lower().str.strip()

In [116]:
df_merge = pd.merge(df_chem, df_trans, how="left", on=["chemical_name"]).fillna("")

In [117]:
len(df_merge[df_merge["cn_chemical_name"] != ""])

918

In [128]:
insert_str = "INSERT INTO graph_chemical (PA_id, chemical_name, chemical_name_cn) VALUES "
for index, row in df_merge.iterrows():
    insert_str += '("{}", "{}", "{}"), '.format(row["chemical_id"], row["chemical_name"].replace("\"", "'"), row["cn_chemical_name"])
    if index != 0 and index % 20 == 0:
        try:
            insert_str = insert_str.strip(", ") + ";"
            conn.cursor().execute(insert_str)
            conn.commit()
            insert_str = "INSERT INTO graph_chemical (PA_id, chemical_name, chemical_name_cn) VALUES "
        except Exception as e:
            print(e)
            print(insert_str)
            insert_str = "INSERT INTO graph_chemical (PA_id, chemical_name, chemical_name_cn) VALUES "
        
insert_str = insert_str.strip(", ") + ";"
conn.cursor().execute(insert_str)
conn.commit()

In [118]:
df_merge

      chemical_id                              chemical_name cn_chemical_name
0     PA166250381    10-desmethyl alpha-dihydrotetrabenazine
1     PA166250405  10-desmethyl beta-dihydrodeutetrabenazine
2     PA166250403     10-desmethyl beta-dihydrotetrabenazine
3     PA166178620                  10-formyltetrahydrofolate
4     PA166131395                      10-hydroxy r-warfarin
...           ...                                        ...              ...
4335     PA451978                                 zonisamide             唑尼沙胺
4336      PA10236                                  zopiclone
4337  PA164924567                                 zosuquidar
4338     PA452606                               zoxazolamine
4339     PA452629                             zuclopenthixol             珠氯噻醇

[4340 rows x 3 columns]

In [4]:
df_buisness = pd.read_csv("d:/pgkb_graph/processed/drug_business.csv")

In [5]:
insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
for index, row in df_buisness.iterrows():
    insert_str += '("{}", "{}"), '.format(row["business_name"], row["drug_name"])
    if index != 0 and index % 20 == 0:
        try:
            insert_str = insert_str.strip(", ") + ";"
            conn.cursor().execute(insert_str)
            conn.commit()
            insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
        except Exception as e:
            print(e)
            print(insert_str)
            insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
        
insert_str = insert_str.strip(", ") + ";"
conn.cursor().execute(insert_str)
conn.commit()

In [3]:
with open("d:/bge-open-platform/fixture/drug_dump.json", "r") as f:
    content = ""
    for i, x in enumerate(f.readlines()):
        if i == 0:
            continue
        content += x

In [4]:
with open("d:/bge-open-platform/fixture/drug_dump2.json", "w") as f:
    f.write(content)

In [53]:
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="demo", 
                       passwd="demo",  
                       db="medicine",
                       charset='utf8')

In [78]:
df_drug = pd.read_sql(sql="select commonName, 组分, 适应症, 剂量, 禁忌, 注意事项, 不良反应, 药物相互作用 from drug_info;", con=conn)

In [79]:
df_drug[["药品名称", "成份", "适应症", "用法用量", "禁忌", "注意事项", "不良反应", "药物相互作用"]] = \
df_drug[["commonName", "组分", "适应症", "剂量", "禁忌", "注意事项", "不良反应", "药物相互作用"]]

df_drug = df_drug[["药品名称", "成份", "适应症", "用法用量", "禁忌", "注意事项", "不良反应", "药物相互作用"]].astype(str).fillna("")

In [80]:
# df_drug.to_csv("drug_new_business_name.csv", index=False)

In [84]:
import re
brac1_regex = re.compile(r"（[^)]*）")
brac2_regex = re.compile(r"\([^)]*\)")
brac3_regex = re.compile(r"\[[^)]*\]")
html_regex = re.compile(r"<[^)]*>")

for index, row in df_drug.iterrows():
    for col in ["药品名称", "成份", "适应症", "用法用量", "禁忌", "注意事项", "不良反应", "药物相互作用"]:
        col_data = re.sub(brac1_regex, "", str(row[col]))
        col_data = re.sub(brac2_regex, "", col_data)
        col_data = re.sub(brac3_regex, "", col_data)
        col_data = re.sub(html_regex, "", col_data)
        row[col] = col_data.replace("\n", "").replace("\r", "").replace("'", "").replace("\"", "")
        
df_drug = df_drug.drop_duplicates(["药品名称"])

In [85]:
df_drug.to_csv("processed/new_drug_description.csv", index=False)

In [36]:
df_business = pd.read_csv("d:/pgkb_graph/processed/drug_business.csv")

In [27]:
bus_list = list(df_business["business_name"].values)
df_drug = df_drug[~df_drug["cnName"].isin(bus_list)]

In [29]:
# df_drug.to_csv("drug_new_business_name.csv", index=False)

In [30]:
df_business

     business_name             drug_name
0               一培           乙酰谷酰胺葡萄糖注射液
1              一夫正               注射用尼莫地平
2              一孚晴                甲硝唑缓释片
3              一孚芸             二甲双胍格列本脲片
4              一泰纳              氢溴酸西酞普兰片
...            ...                   ...
1721            齐征  低分子量肝素钠注射液|低分子量肝素钠凝胶
1722            齐洛               盐酸噻氯匹定片
1723            齐琼  盐酸托烷司琼氯化钠注射液|盐酸托烷司琼片
1724            齐索            盐酸坦索罗辛缓释胶囊
1725           齐致平             二甲双胍格列齐特片

[1726 rows x 2 columns]

In [33]:
df_new_business = pd.read_csv("processed/drug_new_business_name.csv")
df_new_business = df_new_business.groupby(
    ["business_name"])["drug_name"].apply(lambda x: "|".join(
                                            set("|".join(x).split("|")))).reset_index()

# df_new_business.to_csv("processed/new_drug_business.csv", index=False)

In [40]:
df_new_business = pd.read_csv("processed/drug_new_business_name.csv")

In [41]:
df_new_business

     business_name   drug_name
0               0号  复方利血平氨苯蝶啶片
1            21金维他       多维元素片
2           654-2针     山莨菪碱注射液
3              707       长春益寿膏
4              999      感冒退热颗粒
...            ...         ...
4179           龙潭山        谷维素片
4180           龙璞灵        降糖胶囊
4181           龙菲刻      百癣夏塔热片
4182           龙迪泰   注射用复方甘草酸苷
4183           龙鑫甘        苦参素片

[4184 rows x 2 columns]

In [42]:
bus_list = list(df_business["business_name"].values)

In [46]:
df_new_business[~df_new_business["business_name"].isin(bus_list)].to_csv("processed/drug_new_business_name.csv", index=False)

In [49]:
df_new_business = pd.read_csv("processed/drug_new_business_name.csv", dtype=str).fillna("")
df_new_business = df_new_business[(df_new_business["business_name"] != "") & (df_new_business["drug_name"] != "")]

In [52]:
import pymysql
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="demo", 
                       passwd="demo",  
                       db="local_bge_open",
                       charset='utf8')
conn.cursor().execute("select * from ums_user;")

# insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
# for index, row in df_new_business.iterrows():
#     insert_str += '("{}", "{}"), '.format(row["business_name"], row["drug_name"])
#     if index != 0 and index % 20 == 0:
#         try:
#             insert_str = insert_str.strip(", ") + ";"
#             conn.cursor().execute(insert_str)
#             conn.commit()
#             insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
#         except Exception as e:
#             print(e)
#             print(insert_str)
#             insert_str = "INSERT INTO graph_drug_business (business_name, drug_name) VALUES "
        
# insert_str = insert_str.strip(", ") + ";"
# conn.cursor().execute(insert_str)
# conn.commit()

1